@inject IJSRuntime JSRuntime

<div class="container">
    <label class="label-control">Field:</label>
    <div class="input-group">
        <input type="text" id="field" name="field" class="form-control" @bind="Field">
        <span class="input-group-btn">
            <button class="btn btn-info" type="button" id="btnFieldCopy" name="btnFieldCopy" @onclick="CopyField"><i class="far fa-copy"></i></button>
            <button class="btn btn-danger" type="button" id="btnFieldClear" name="btnFieldClear" @onclick="ClearField"><i class="far fa-trash-alt"></i></button>
        </span>
    </div>
    <div class="row">
        <div class="col">
            <div class="input-group">
                <textarea id="sqlBuilderInput" name="sqlBuilderInput" class="form-control" rows="5" @bind="Input"></textarea>
                <span class="input-group-btn">
                    <button id="btnClearSQLBuilder" name="btnClearSQLBuilder" class="btn btn-danger" @onclick="Clear"><i class="far fa-trash-alt"></i></button>
                </span>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <div class="form-check">
                <input class="form-check-input" type="checkbox" id="chkIncludeWildcard" @bind-value="IncludeWildcard" checked="@(IncludeWildcard ? "checked" : null)">
                <label class="form-check-label" for="chkIncludeWildcard">
                    Include Wildcard
                </label>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <button class="btn btn-success" type="button" id="btnParse" name="btnParse" @onclick="Create">Create</button>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <div class="input-group">
                <textarea id="sqlBuilderOutput" name="sqlBuilderOutput" class="form-control" rows="5" @bind="Output"></textarea>
                <span class="input-group-btn">
                    <button id="btnCopySQLBuilder" name="btnCopySQLBuilder" class="btn btn-info" @onclick="Copy"><i class="far fa-copy"></i></button>
                </span>
            </div>
            
        </div>
    </div>
</div>

@code {

    [Parameter]
    public string? Field { get; set; }
    
    [Parameter]
    public string? Input { get; set; }
    
    [Parameter]
    public string? Output { get; set; }

    [Parameter]
    public bool IncludeWildcard { get; set; }
    
    string wildcard = "*";
    
    protected override void OnInitialized()
    {
        // Field = string.Empty;
        // Input = string.Empty;
        // Output = string.Empty;
        IncludeWildcard = false;
    }

    async Task CopyField()
    {
        await JSRuntime.InvokeVoidAsync("navigator.clipboard.writeText", Field);
    }

    private void ClearField()
    {
        Field = string.Empty;
    }

    private void Clear()
    {
        Input = string.Empty;
    }

    private void Create()
    {
        // CONTAINS(Description, @SearchWord)
        // WHERE CONTAINS(t.something, '"bla*" OR "foo*" OR "batz*"')

        wildcard = IncludeWildcard ? "*" : "";
        var items = Input.Split(new[] { System.Environment.NewLine }, StringSplitOptions.RemoveEmptyEntries);
        var likeItems = string.Join(" OR ", items.Select(i => $"CONTAINS ({Field}, {wildcard}{i.Trim()}{wildcard})"));

        Output = likeItems;
    }

    async Task Copy()
    {
        await JSRuntime.InvokeVoidAsync("navigator.clipboard.writeText", Output);
    }
}