/* /Components/Ascii/Ascii.razor.rz.scp.css */
/* /Components/Base64/Base64.razor.rz.scp.css */
/* /Components/Binary/Binary.razor.rz.scp.css */
/* /Components/EpochConverter/EpochConverter.razor.rz.scp.css */
/* /Components/GuidGenerator/GuidGenerator.razor.rz.scp.css */
/* /Components/HCF/HCF.razor.rz.scp.css */
[b-wuvc9mca0p] body {
    font-family: Helvetica, Arial, sans-serif;
    background-color: #EEEEEE;
}

[b-wuvc9mca0p] div.main {
    background-color: white;
    border-radius: 10px;
    border: 2px solid #666666;
    box-shadow: 5px 5px 5px #999999;
    padding: 2.4em 3em;
    margin: 0 auto;
    max-width: 1000px;
}

[b-wuvc9mca0p] div.output {
    margin: 3em 0;
    border: 1px solid #666666;
    padding: 0.4em 0.2em;
    font-family: Courier New, Courier, monospaced;
    cursor: default;
}

[b-wuvc9mca0p] div.output span.symbol {
    color: white;
    background-color: #999999;
    padding: 0 2px;
    margin: 0 2px;
}

[b-wuvc9mca0p] div.output span.hex {
    color: black;
    background-color: #9999FF;
    padding: 0 2px;
    margin: 0 2px;
}

[b-wuvc9mca0p] span.S2Tooltip.anchor {
    white-space: nowrap;
}

[b-wuvc9mca0p] span.S2Tooltip.container {
    position: absolute;
    z-index: 999;
    left: -99999px;
    top: -99999px;
}

[b-wuvc9mca0p] span.S2Tooltip.anchor:hover {
    background-color: #FF9999;
}

[b-wuvc9mca0p] span.S2Tooltip.anchor:hover + span.S2Tooltip.container {
    left: auto;
    top: auto;
}

[b-wuvc9mca0p] span.S2Tooltip.tiptext {
    position: absolute;
    left: -2em;
    top: 1.5em;
    padding: 0.5em 0.8em 0.7em 0.8em;
    color: black;
    background-color: #DDDDFF;
    border: 1px solid #9999FF;
    font-weight: normal;
    text-align: left;
    display: block;
    text-indent: 0;
}
/* /Components/HexToRGB/HexToRGB.razor.rz.scp.css */
/* /Components/HTMLEncodeDecode/HTMLEncodeDecode.razor.rz.scp.css */
/* /Components/JWTDebugger/JWTDebugger.razor.rz.scp.css */
/* /Components/LuhnChecker/LuhnChecker.razor.rz.scp.css */
/* /Components/MarkdownConverter/MarkdownConverter.razor.rz.scp.css */
/* /Components/MD5Converter/MD5Converter.razor.rz.scp.css */
/* /Components/MemoryConverter/MemoryConverter.razor.rz.scp.css */
/* /Components/MonacoDiffEditor/MonacoDiffEditor.razor.rz.scp.css */
[b-63a95zpfsk] #diff-editor {
    height: 500px;
}
/* /Components/MonacoEditor/MonacoEditor.razor.rz.scp.css */
[b-cxzijckphf] #editor {
    height: 500px;
}
/* /Components/SQLContains/SQLContains.razor.rz.scp.css */
/* /Components/SQLInClause/SQLInClause.razor.rz.scp.css */
/* /Components/SQLInput/SQLInput.razor.rz.scp.css */
/* /Components/StringConverter/StringConverter.razor.rz.scp.css */
/* /Components/TimeConverter/TimeConverter.razor.rz.scp.css */
/* /Components/UnicodePicker/UnicodePicker.razor.rz.scp.css */
/* /Components/UrlEncode/UrlEncode.razor.rz.scp.css */
/* /Components/UrlSplitter/UrlSplitter.razor.rz.scp.css */
/* /Pages/Converter.razor.rz.scp.css */
/* /Pages/Cryptography.razor.rz.scp.css */
/* /Shared/MainLayout.razor.rz.scp.css */
.page[b-bfxqhp2qqz] {
    position: relative;
    display: flex;
    flex-direction: column;
}

main[b-bfxqhp2qqz] {
    flex: 1;
}

.sidebar[b-bfxqhp2qqz] {
    background-image: linear-gradient(180deg, rgb(5, 39, 103) 0%, #3a0647 70%);
}

.top-row[b-bfxqhp2qqz] {
    background-color: #f7f7f7;
    border-bottom: 1px solid #d6d5d5;
    justify-content: flex-end;
    height: 3.5rem;
    display: flex;
    align-items: center;
}

    .top-row[b-bfxqhp2qqz]  a, .top-row[b-bfxqhp2qqz]  .btn-link {
        white-space: nowrap;
        margin-left: 1.5rem;
        text-decoration: none;
    }

    .top-row[b-bfxqhp2qqz]  a:hover, .top-row[b-bfxqhp2qqz]  .btn-link:hover {
        text-decoration: underline;
    }

    .top-row[b-bfxqhp2qqz]  a:first-child {
        overflow: hidden;
        text-overflow: ellipsis;
    }

@media (max-width: 640.98px) {
    .top-row:not(.auth)[b-bfxqhp2qqz] {
        display: none;
    }

    .top-row.auth[b-bfxqhp2qqz] {
        justify-content: space-between;
    }

    .top-row[b-bfxqhp2qqz]  a, .top-row[b-bfxqhp2qqz]  .btn-link {
        margin-left: 0;
    }
}

@media (min-width: 641px) {
    .page[b-bfxqhp2qqz] {
        flex-direction: row;
    }

    .sidebar[b-bfxqhp2qqz] {
        width: 250px;
        height: 100vh;
        position: sticky;
        top: 0;
    }

    .top-row[b-bfxqhp2qqz] {
        position: sticky;
        top: 0;
        z-index: 1;
    }

    .top-row.auth[b-bfxqhp2qqz]  a:first-child {
        flex: 1;
        text-align: right;
        width: 0;
    }

    .top-row[b-bfxqhp2qqz], article[b-bfxqhp2qqz] {
        padding-left: 2rem !important;
        padding-right: 1.5rem !important;
    }
}
/* /Shared/NavMenu.razor.rz.scp.css */
.navbar-toggler[b-leg2v5s21d] {
    background-color: rgba(255, 255, 255, 0.1);
}

.top-row[b-leg2v5s21d] {
    height: 3.5rem;
    background-color: rgba(0,0,0,0.4);
}

.navbar-brand[b-leg2v5s21d] {
    font-size: 1.1rem;
}

.oi[b-leg2v5s21d] {
    width: 2rem;
    font-size: 1.1rem;
    vertical-align: text-top;
    top: -2px;
}

.nav-item[b-leg2v5s21d] {
    font-size: 0.9rem;
    padding-bottom: 0.5rem;
}

    .nav-item:first-of-type[b-leg2v5s21d] {
        padding-top: 1rem;
    }

    .nav-item:last-of-type[b-leg2v5s21d] {
        padding-bottom: 1rem;
    }

    .nav-item[b-leg2v5s21d]  a {
        color: #d7d7d7;
        border-radius: 4px;
        height: 3rem;
        display: flex;
        align-items: center;
        line-height: 3rem;
    }

.nav-item[b-leg2v5s21d]  a.active {
    background-color: rgba(255,255,255,0.25);
    color: white;
}

.nav-item[b-leg2v5s21d]  a:hover {
    background-color: rgba(255,255,255,0.1);
    color: white;
}

@media (min-width: 641px) {
    .navbar-toggler[b-leg2v5s21d] {
        display: none;
    }

    .collapse[b-leg2v5s21d] {
        /* Never collapse the sidebar for wide screens */
        display: block;
    }
}
