@inherits LayoutComponentBase

@inject Blazored.LocalStorage.ILocalStorageService localStorage

<div class="sidebar">
    <NavMenu />
</div>

<div class="main">
    <div class="top-row px-4">
        <a href="http://alexhedley.com/Utility/" target="_blank" class="ml-md-auto">About</a>
    </div>

    <div class="content px-4">
        @Body
    </div>
</div>


@code {
    protected override async Task OnInitializedAsync()
    {
        await localStorage.SetItemAsync("tab", "url");
        var name = await localStorage.GetItemAsync<string>("tab");
        Console.WriteLine(name);
    }
}