@using System.Text

<div class="container">
    <div class="row">
        <div class="col">
            <p><a href="https://www.soscisurvey.de/tools/view-chars.php" target="_blank">View non-printable unicode characters</a></p>
            <p><a href="https://github.com/BurninLeo/see-non-printable-characters/blob/main/view-chars.php" target="_blank">Source</a></p>
        </div>
    </div>

    <div class="row">
        <div class="col">
            <h2>View non-printable unicode characters</h2>
            <p>Online tool to display non-printable characters that may be hidden in copy&amp;pasted strings.</p>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <label for="s">Please paste the string here:</label>
            <textarea id="s" name="s" class="form-control" rows="8" cols="40"
                @bind="s" style="width: 100%; box-sizing: border-box;"></textarea>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <button id="btnShow" name="btnShow" class="btn btn-success float-right" @onclick="Show">Show me the characters</button>
        </div>
    </div>

    @if (!string.IsNullOrEmpty(output))
    {
        <div class="row">
            <div class="col">
                @((MarkupString)output)
                <p>@charCount characters, @byteCount bytes</p>
            </div>
        </div>
    }

    <div class="row">
        <div class="col">

            <h2>Helpful Sites for Details on UTF Characters</h2>
            <ul>
                <li><a href="https://www.branah.com/unicode-converter" target="_blank">Branah.com Unicode Converter</a></li>
                <li><a href="http://www.fileformat.info/info/unicode/char/search.htm" target="_blank">FileFormat.Info</a></li>
                <li><a href="http://utf8-chartable.de/unicode-utf8-table.pl" target="_blank">utf8-chartable.de</a></li>
            </ul>

        </div>
    </div>

</div>

@code {
    private string s = string.Empty;
    private string output = string.Empty;
    private int charCount = 0;
    private int byteCount = 0;

    private void Show()
    {
        if (string.IsNullOrEmpty(s))
        {
            output = string.Empty;
            charCount = 0;
            byteCount = 0;
            return;
        }

        (output, charCount, byteCount) = HCFService.Text2Html(s);
    }
}
