<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        @*<img src="images/apple-touch-icon-57x57.png" alt="Utility" height="40px" />*@
        <a class="navbar-brand" href="">Utility</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Home
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="urlencode">
                <span class="oi oi-code" aria-hidden="true"></span> Url Encode
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="url">
                <span class="oi oi-code" aria-hidden="true"></span> Url
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="guid">
                <span class="oi oi-code" aria-hidden="true"></span> Guid
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="sql">
                @*<span class="oi oi-code" aria-hidden="true"></span> SQL*@
                <i class="fas fa-database"></i> SQL
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="luhn">
                <span class="oi oi-code" aria-hidden="true"></span> Luhn
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="hcf">
                <span class="oi oi-code" aria-hidden="true"></span> Hidden Char Finder
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="html">
                <span class="oi oi-browser" aria-hidden="true"></span> HTML
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="markdown">
                <span class="oi oi-arrow-thick-bottom" aria-hidden="true"></span> Markdown
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="ascii">
                <span class="oi oi-text" aria-hidden="true"></span> Ascii
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="colourconverter">
                <span class="oi oi-droplet" aria-hidden="true"></span> Colour Converter
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="binary">
                <span class="oi oi-code" aria-hidden="true"></span> Binary
            </NavLink>
        </div>
        
    </nav>
</div>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
