::deep body {
    font-family: Helvetica, Arial, sans-serif;
    background-color: #EEEEEE;
}

::deep div.main {
    background-color: white;
    border-radius: 10px;
    border: 2px solid #666666;
    box-shadow: 5px 5px 5px #999999;
    padding: 2.4em 3em;
    margin: 0 auto;
    max-width: 1000px;
}

::deep div.output {
    margin: 3em 0;
    border: 1px solid #666666;
    padding: 0.4em 0.2em;
    font-family: Courier New, Courier, monospaced;
    cursor: default;
}

::deep div.output span.symbol {
    color: white;
    background-color: #999999;
    padding: 0 2px;
    margin: 0 2px;
}

::deep div.output span.hex {
    color: black;
    background-color: #9999FF;
    padding: 0 2px;
    margin: 0 2px;
}

::deep span.S2Tooltip.anchor {
    white-space: nowrap;
}

::deep span.S2Tooltip.container {
    position: absolute;
    z-index: 999;
    left: -99999px;
    top: -99999px;
}

::deep span.S2Tooltip.anchor:hover {
    background-color: #FF9999;
}

::deep span.S2Tooltip.anchor:hover + span.S2Tooltip.container {
    left: auto;
    top: auto;
}

::deep span.S2Tooltip.tiptext {
    position: absolute;
    left: -2em;
    top: 1.5em;
    padding: 0.5em 0.8em 0.7em 0.8em;
    color: black;
    background-color: #DDDDFF;
    border: 1px solid #9999FF;
    font-weight: normal;
    text-align: left;
    display: block;
    text-indent: 0;
}
