@page "/converter"

@using Utility.Components.MemoryConverter
@using Utility.Components.TimeConverter

<PageTitle>Converter</PageTitle>

<h1>Converter</h1>

<MemoryConverter />

<br />

<TimeConverter />