@page "/"

<PageTitle>Index</PageTitle>

<h1>Utility</h1>

<ul>
    <li><a href="urls">Url Encode</a></li>
    <li><a href="urls">Url</a></li>
    <li><a href="guid">Guid</a></li>
    <li><a href="sql">SQL</a></li>
    <li><a href="html">HTML</a></li>
    <li><a href="markdown">Markdown</a></li>
    <li><a href="timerstopwatch">Timer / Stopwatch</a></li>
    <li><a href="ascii">Ascii</a></li>
    <li><a href="colourconverter">Colour Converter (HEX to RGB)</a></li>
    <li><a href="binary">Binary</a></li>
    <li><a href="stringconverter">String</a></li>
    <li><a href="stringconverter">Base64 Encode/Decode</a></li>
    <li><a href="stringconverter">Regex From String</a></li>
    <li><a href="epoch">Epoch</a></li>
    <li><a href="converter">time converter</a></li>
    <li><a href="converter">kb - mb - gb converter</a></li>
    <li><a href="converter">HEX to DEC</a></li>
    <li><a href="jwt">JWT</a></li>
    <li><a href="luhn">Luhn</a></li>
    <li><a href="hcf">Hidden Char Finder</a></li>
    <li><a href="codeeditor">Monaco Editor</a></li>
</ul>

<ul>
    <li><a href="jwt">JWT</a> (JWT)</li>
    <li><a href="unicode">Unicode</a> (WIP)</li>
    <li><a href="diffeditor">Diff Editor</a> (WIP)</li>
    <li><a href="stringconverter">Remove whitespace</a></li>
    <li><a href="stringconverter">HEX to DEC</a></li>
</ul>

<ul>
    <li><a href="cryptography">Cryptography</a> ⛔️</li>
</ul>

@code {
    private int currentCount = 0;

    private void IncrementCount()
    {
        currentCount++;
    }
}