@page "/"

<PageTitle>Index</PageTitle>

<h1>Utility</h1>

<ul>
    <li>Url Encode</li>
    <li>Url</li>
    <li>Guid</li>
    <li>SQL</li>
    <li>Luhn</li>
    <li>Hidden Char Finder</li>
    <li>HTML</li>
    <li>Markdown</li>
    <li>Ascii</li>
    <li>Colour Converter</li>
    <li>Binary</li>
    <li>String</li>
    <li>Epoch</li>
    <li>Cryptography</li>
</ul>
