@page "/sql"

@using Utility.Components.SQLInClause
@using Utility.Components.SQLInput
@using Utility.Components.SQLContains

@inject IJSRuntime JSRuntime

<h1>SQL Builder</h1>

<div class="container">
    
    <div class="row">
        <div class="col">
            <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
                <h2>IN Clause</h2>
            </div>

            <SQLInClause />
        </div>
    </div>

    <div class="row">
        <div class="col">
            
            <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
                <h2>Input</h2>
            </div>
            
            <SQLInput />
        </div>
    </div>
    
    <div class="row">
        <div class="col">
            
            <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
                <h2>Contains</h2>
            </div>
            
            <SQLContains />
        </div>
    </div>
    
    <br />

</div>

@code {

    protected override async Task OnInitializedAsync()
    {
        
    }
}