@page "/sql"

@using Utility.Components.SQLInClause
@using Utility.Components.SQLInput

@inject IJSRuntime JSRuntime

<h1>SQL Builder</h1>

<div class="container">
    
    <div class="row">
        <div class="col">
            <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
                <h1 class="h2">IN Clause</h1>
            </div>

            <SQLInClause />
        </div>
    </div>

    <div class="row">
        <div class="col">
            
            <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
                <h1 class="h2">Input</h1>
            </div>
            
            <SQLInput />
        </div>
    </div>

</div>

@code {

    protected override async Task OnInitializedAsync()
    {
        
    }
}