@page "/sql"

@using Utility.Components.SQLInClause
@using Utility.Components.SQLInput
@using Utility.Components.SQLContains

@inject IJSRuntime JSRuntime

<h1>SQL Builder</h1>

<h2>IN Clause</h2>
@* <SQLInClause /> *@


@* <h2>Input</h2>
<SQLInput /> *@

<h2>Contains</h2>
<SQLContains />

@code {

    protected override async Task OnInitializedAsync()
    {
        
    }
}