@page "/stringconverter"

@using Utility.Components.StringConverter
@using Utility.Components.Base64
@using Utility.Components.Regex

<PageTitle>String Tools</PageTitle>

<h1>String Tools</h1>

<RegexFromString />

<hr/>

<Base64 Input="QWxleEhlZGxleQ==" />

<hr />

<StringConverter />
