@page "/stringconverter"

@using Utility.Components.StringConverter
@using Utility.Components.Base64

<PageTitle>String Converter</PageTitle>

<h1>String Converter</h1>

<Base64 Input="QWxleEhlZGxleQ==" />

<hr />

<StringConverter />
