@using System.Web;
@using System.Collections.Specialized;

@page "/urls"

@using Utility.Components.UrlSplitter
@using Utility.Components.UrlEncode

<PageTitle>Urls</PageTitle>

<h1>Urls</h1>

<UrlSplitter />

<br />

<UrlEncode />