@using System.Web;
@using System.Collections.Specialized;

<div class="container">
    
    <div class="row">
        <div class="col">
            <h2>Url Splitter</h2>
        </div>
    </div>
    
    <div class="row">
        <div class="col">
            <div class="input-group mb-3">
                <input type="text" id="path" name="path" class="form-control" @bind="Path">
                <div class="input-group-append">
                    <span class="input-group-text" id="urlCount">@pathLength</span>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <button id="btnPathSplit" name="btnPathSplit" class="btn btn-success float-right"
                @onclick="Split">Split</button>
        </div>
    </div>

    <br/>

    <!-- Hostname -->
    <div class="row">
        <div class="col-12">
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text">Hostname</span>
                </div>
                <input type="text" class="form-control" placeholder="hostname" aria-label="hostname"
                       id="hostname" name="hostname"
                       @bind="hostname" disabled>
            </div>
        </div>
    </div>

    <!-- Pathname -->
    <div class="row">
        <div class="col-12">
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text">Pathname</span>
                </div>
                <input type="text" class="form-control" placeholder="pathname" aria-label="pathname"
                       id="pathname" name="pathname"
                       @bind="pathName" disabled>
            </div>
        </div>
    </div>

    <!-- Params -->
    <div class="row">
        <div class="col-12">
            <table id="urlParams">
                <thead>
                <tr>
                    <th>Key</th>
                    <th>Value</th>
                </tr>
                </thead>
                <tfoot></tfoot>
                <tbody>
                @foreach (string key in queryString)
                {
                    <tr>
                        <td><em>@key</em></td>
                        <td><em>@queryString[key]</em></td>
                    </tr>
                }
                </tbody>

            </table>
        </div>
    </div>

</div>

@code {
    [Parameter]
    public string Path { get; set; }
    
    int pathLength;
    string hostname;
    string pathName;
    NameValueCollection queryString;

    protected override void OnInitialized()
    {
        Path = "https://www.alexhedley.com/path?query=this&param=that";
        pathLength = Path.Length;
        queryString = new NameValueCollection();
    }

    private void Split()
    {
        pathLength = Path.Length;

        Uri uri = new Uri(Path);
        hostname = uri.Host;
        pathName = uri.AbsolutePath;
        queryString = HttpUtility.ParseQueryString(uri.Query);
    }

}